:root {
  --background: hsl(227, 10%, 17%);
  --background-light: hsl(227, 11%, 25%);
  --background-ultra-light: hsl(227, 11%, 32%);
  --primary: hsl(218, 65%, 45%);
  --primary-light: hsl(218, 65%, 55%);
  --secondary: hsl(199, 99%, 45%);
  --radius: 6px;
  --padding: 10px;
}

body {
  background-color: var(--background);
  margin-top: 10px;
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 1000px;
    margin: 10px auto;
  }
}

@font-face {
  font-family: 'SourceCodePro-Light';
  font-style: normal;
  src: url(../fonts/Source_Code_Pro/SourceCodePro-Light.ttf);
}

noscript,
h1,
h2,
p,
button,
.button,
th,
td,
span {
  font-family: 'SourceCodePro-Light';
  color: hsl(0, 0%, 96%);
}

p a {
  color: var(--primary-light);
}

.button {
  display: block;
  background-color: var(--primary);
  padding: var(--padding);
  border: none;
  border-radius: var(--radius);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

button {
  font-size: 14px;
  cursor: pointer;
}

table {
  width: 100%;
  border: 1px solid var(--background-ultra-light);
  border-radius: var(--radius);
  border-spacing: 0px;
  display: tabl;
}

table thead {
  background-color: var(--background-light);
}

table thead tr th,
table tbody tr td {
  height: 25px;
  padding: 10px;
  text-align: left;
  text-decoration: none;
}

table tbody tr td {
  border-top: 1px solid var(--background-ultra-light);
}

table tbody tr td.min-pad {
  padding-top: 6px;
  padding-bottom: 6px;
}

noscript {
  display: block;
  padding: var(--padding);
  margin-bottom: var(--padding);
  background-color: hsl(39, 100%, 45%);
  border-radius: var(--radius);
}

header {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

header nav * {
  margin-left: 5px;
}

header h1 {
  margin: 0;
}

footer {
  padding-top: 2em;
  text-align: center;
}